sales_conversion_workflow.json
{
  "name": "Sales Conversion Workflow (Robust Version)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-completion",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "webhook-sales"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message_text",
              "value": "=🎉 *Congratulations {{ $node[\"Webhook\"].json[\"customer_name\"] }}!*\n\nThank you for choosing Om Shuba for your {{ $node[\"Webhook\"].json[\"product_name\"] }}.\n\n🛡️ *Warranty Details:*\n- Start: {{ $node[\"Webhook\"].json[\"warranty_start_date\"] }}\n- End: {{ $node[\"Webhook\"].json[\"warranty_end_date\"] }}\n\n⚙️ *Product Info:*\n{{ $node[\"Webhook\"].json[\"product_description\"] }}\n\n📖 *Usage Instructions:*\n- Please read the manual carefully before first use.\n- YouTube Demo: {{ $node[\"Webhook\"].json[\"demo_url\"] || 'N/A' }}\n\n📞 *Branch Support:*\nFor any assistance, contact our {{ $node[\"Webhook\"].json[\"branch_name\"] }} team at {{ $node[\"Webhook\"].json[\"branch_contact\"] }}.\n\nWelcome to the Om Shuba family! 🙏"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"Webhook\"].json[\"phone_number\"] }}"
            },
            {
              "name": "enquiry_id",
              "value": "={{ $node[\"Webhook\"].json[\"id\"] }}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "prepare-message"
    },
    {
      "parameters": {
        "table": "whatsapp_queue",
        "columns": "enquiry_id, phone_number, message_text, status",
        "options": {}
      },
      "name": "Supabase - Add to Queue (Draft)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "supabase-add-queue"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Supabase - Add to Queue (Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": null
  },
  "tags": []
}